:root{
  --lb: rgba(30, 30, 30, 1);
  --llb: rgba(60, 60, 60, 1);
  --mustard: #F7A600;
  --mg: #24ae64;
  --rd: #e04040;
}
::selection {
  color: white;
  background: grey;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',"Century Gothic", "Verdana", Futura,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
  block-size: auto;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root, #__next {
  isolation: isolate;
  background: black;
}
canvas{
  -webkit-transform3d: translate(0,0,0);
  -moz-transform3d: translate(0,0,0);
  transform3d: translate(0,0,0);

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
hr {
  border: none;
  border-bottom: .5px solid var(--llb);
}

/* ++++++++++++++++++ css-reset +++++++++++++++++ */

main{
  display: grid;
  grid-template-rows: .1fr .1fr 1fr /*.7fr .1fr;*/;
  grid-template-columns: 1fr .51fr /*repeat(2, .51fr)*/;
  gap: .2%;

  height: 100vh;
}
button{
  cursor: pointer;
}
.containers{
  background: var(--lb);
  border-radius: 1px;
  color: white;
}
.containerHsec {
  padding-inline: 4%;
  padding-block: 3%;
}
.containerH {
  padding-inline: 2%;
  border-inline-start: solid var(--mustard);
}
/* ++++++++++++++++++++++++++++++++ */
.navCont{
  grid-column: 1 / span 4;
}

/* ++++++++++++++++++++++++++++++++ */
.currentCoinCont{
  grid-column: 1 / span 4;
}

/* ++++++++++++++++++++++++++++++++ */
.ledgerCont{
  grid-row: 3 / 4;
  grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
}

.ledgerCont > .table {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}


.ledgerCont > .table .tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-block: 1% 0;
  text-align: center;
}
.ledgerCont > .table .td {
  font-size: .9rem;
}
.ledgerCont .askList {
  background: #e0404011;
  color: var(--rd);
}
.ledgerCont .bestPrice {
  grid-column: 1/span 3;

  padding-block: 2%;
  font-size: 1.1rem;
}
.ledgerCont .bidList {
  background: #24ae6411;
  color: var(--mg);
}


/* ++++++++++++++++++++++++++++++++ */
.spotCont{
  grid-column: 3 / 4;
  grid-row: 3 / span 2;

  display: flex;
  flex-direction: column;
}
.spotCont > section {
  padding-inline: 4%;
  padding-block: 3%;
}

.spotCont .bsSec {
  display: flex;
  gap: 5%;
}
.spotCont .bs {
  background: var(--llb);
  border: none;
  color: inherit;
  border-radius: 5px;
  width: 100%;
  padding: 2%;
}
.spotCont .buybs{
  background: var(--mg);
}
.spotCont .sellbs{
  color: inherit;
  background: var(--rd);
}

/* ++++++++++++++++++++++++++++++++ */
.tradeCont{
  grid-row: 4 / 5;
  grid-column: 1 / span 2;
}

/* ++++++++++++++++++++++++++++++++ */
.footCont{
  grid-column: 1 / span 4;
}